@import "common/common";
@import "variables-site/variables-site";
@import "mixins/mixins-master";
@import "menu";

// change menu font color
.nav-menu-items > .nav-menu-item a {
    color: white;
}
.nav-menu-icon > svg {
    fill: white;
}


.aboutPage {
    position: fixed;
    color: white;
    height: 100vh;
    overflow: auto;
    width: 100%;
    background-size: cover;
    &-title {
        @include title();
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
    }
    &-menu {
        a {
            text-decoration: none !important;
            color: white;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
    &-content {
        max-width: 100% !important;
        margin-right: 20%;
        margin-left: 20%;
        & > * {
            margin-right: auto !important;
            margin-left: auto !important;
        }
    }

}

