@import "menu";

// change menu font color
.nav-menu-items > .nav-menu-item a {
    color: white;
}
.nav-menu-icon > svg {
    fill: white;
}


.contactPage {
    position: absolute;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    .entry-content {
        height: 100vh;
    }
    &-title {
        margin-top: 150px;
        margin-bottom: 100px !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
    }
    &-content {
        #nf-form-1-cont {
            margin: auto;
        }
        .nf-form-content input[type=button].send-button{
            background: black;
            color: white;
            transition: all .3s;
            border: 1px solid white;
            cursor: pointer;
            &:hover {
                background: white;
                color: black;
                transition: all .3s;
            }
        }
    }
    &-bottomImage img {
        width: 100%;
        -webkit-mask-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0)));
        mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    }

}

