@import "common/common";
@import "menu";

// change menu font color
.nav-menu-items > .nav-menu-item a {
    color: white;
}
.nav-menu-icon > svg {
    fill: white;
}


.eventsPage {
    position: fixed;
    height: 100vh;
    overflow: auto;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    &-title {
        margin-top: 100px;
        margin-bottom: 50px !important;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        font-size: 3em;
        text-transform: uppercase;
    }
    .eventsPage-content {
        display: flex;
        padding: 0 10%;
        flex-direction: column;
        align-items: center;
        .event{
            padding: 20px;
            border: solid;
            border-radius: 4px;
            border-width: 8px !important;
            animation: ease;
            border-color: transparent;
            width: 800px;
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                border-color: #dfbb13;
                transition: 0.3s;
            }
            display: flex;
            &-image {
                border-radius: 4px;
                display: flex;
                align-items: center;
                border: solid 4px;
                width: 150px;
                height: 150px;
            }
            &-content {
                padding: 0 20px;
                .event-title {
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: 1.7em;
                }
                .event-date {
                    margin-bottom: 5px;
                    font-weight: bold;
                    color: #dfbb13;
                }
                .event-location {
                    margin-bottom: 8px;
                }
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }

    }
}


