@import "variables-site/structure";

.nav-menu {
    position: absolute;
    margin-top: 14px;
    padding-left: 14px;
    max-width: 100%;
    @media( max-width: $tablet_width ) {
        display: flex;
        //align-items: center;
    }
    &-icon {
        -webkit-tap-highlight-color: transparent;
        @media( max-width: $tablet_width ) {
            height: 40px;
        }
        & > svg, & > img {
            margin: 10px;
            margin-top: 0;
            margin-left: 8px;
            cursor: pointer;
            transition: 0.3s;
            width: 50px;
            height: 50px;
            fill: black;
            @media( max-width: $tablet_width ) {
                width: 40px;
                height: 40px;
            }
        }
        &--open > svg, &--open > img {
            transform: rotate(90deg);
            transition: 0.3s;
        }
    }
    &-items {
        &-wrapper {
            opacity: 0;
            transition: opacity 0.3s;
            @media( max-width: $tablet_width ) {
                margin-top: 3px;
            }
        }
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s, left 0.3s, top 0.3s;
        @media( max-width: $tablet_width ) {
            //margin-left: 17px;
            margin-bottom: 5px;
            flex-direction: row;
            max-width: calc(100vw - 85px);
            overflow-x: auto;
            //position: relative;
        }
        & > .nav-menu-item {
            margin: 5px;
            margin-left: 0;
            @media( max-width: $tablet_width ) {
                margin-right: 16px;
            }
            a {
                display: flex;
                align-items: center;
                color: black;
                font-size: 1.3em;
                @media( max-width: $tablet_width ) {
                    font-size: 1.1em;
                }
                text-decoration: none;
                transition: opacity 0.3s;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none; /* Safari */
                -moz-user-select: none; /* Old versions of Firefox */
                -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none;
            }
            a:hover {
                opacity: 0.8;

            }
            .dashicons-arrow-left-alt2, .dashicons-arrow-right-alt2 {
                @media( max-width: $tablet_width ) {
                    transform: rotate(90deg);
                }
            }
        }
    }
    &-sub-items {
        &:not(.nav-menu-sub-items--open) {
            a {
                pointer-events: none;
            }
            @media( min-width: $tablet_width ) {
                left: 120px;
            }
            @media( max-width: $tablet_width ) {
                top: 50px;
            }
        }
        &--open {
            @media( min-width: $tablet_width ) {
                left: 20px;
            }
            @media( max-width: $tablet_width ) {
                top: 5px;
            }
        }
    }
    &-main-items {
        &:not(.nav-menu-main-items--open) {
            a {
                pointer-events: none;
            }
            @media( min-width: $tablet_width ) {
                left: -35px;
            }
            @media( max-width: $tablet_width ) {
                top: -40px;
            }
        }
        &--open {
            @media( min-width: $tablet_width ) {
                left: 20px;
            }
            @media( max-width: $tablet_width ) {
                top: 5px;
            }
        }
    }
    &-main-items, &-sub-items, &-items-wrapper {
        &--open {
            opacity: 1;
            transition: opacity 0.3s, left 0.3s, top 0.3s;
        }
    }

}

