@import "common/common";
@import "menu";

.nav-menu {
    z-index: 5;
}
.nav-menu-items > .nav-menu-item a {
  color: white;
}
.nav-menu-icon > svg {
  fill: white;
}

.entry-content {
    & > * {
        max-width: 100% !important;
        margin-right: 20%;
        margin-left: 20%;
    }
    & > div:first-of-type {
      margin: 0;
    }
    & > figure.aligncenter{
      margin: 0;
      iframe {
        width: 100%;
        height: 100vh;
      }
    }
}



@media (max-width: 1400px) {
  .entry-content {
    & > * {
      margin-right: 15%;
      margin-left: 15%;
    }
  }
}

@media (max-width: 1000px) {
  .entry-content {
    & > * {
      margin-right: 5%;
      margin-left: 5%;
    }
  }

}

