
.roche:hover .text {
  opacity: 1;
  color: white;
  transition: opacity 0.5s;
}
.roche {
  z-index: 10;
  position: relative;
  margin: auto;
  transition: filter 0.5s;
  filter: brightness(0);
  width: 200px;
  height: 200px;
  text-align: center;
  a:link {
    text-decoration: none;
  }
  .text {
    opacity: 0;
    width: 60%;
    transition: opacity 0.5s;
    color: #dedede;
    font-family: raleway-bold sans-serif;
    font-weight: bold;
  }
  &-img {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.roche:hover {
  transition: filter 0.5s;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}


// default position
//.roche_brutus {
//  bottom: -60%;
//  right: 40%;
//
//}
//.roche_minus {
//  bottom: 8%;
//  right: -30%;
//}
