#rocher {
  height: 100vh;
  margin-top: 0;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  .rocher{
    &-content {
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      height: 800px;
      width: 800px;
      p {
        color: white;
        font-size: 24px;
        text-align: center;
        padding: 0 153px;
      }
    }
    &-title {
      font-size: 46px;
      margin-top: 160px;
      text-align: center;
      color: white;
    }
  }
}

@media (max-width: 1400px) {
 #rocher {
   background-position-y: 0px;
   transition: 0.3s;
 }
}

