@import "menu";

.nav-menu {
    z-index: 5;
}

.projectPage {
    display: flex;
    flex-direction: column;
}

.projectPage-title {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.roche {
    position: absolute;
    background-size: cover;
    left: 10%;
    right: 10%;
    height: 74vw;
    margin-bottom: 10vw;
    filter: opacity(0.8);
}

.roche_bg {
    width: 100%;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 84vw;
    margin-bottom: 10vw;
    filter: hue-rotate(-462deg);
}

.entry {
    z-index: 1;
}

.entry-content {
    padding-top: 24vw !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
}

.entry .entry-content > * {
    max-width: 100% !important;
}

.entry-content p:nth-child(2){
    color: white;
    font-size: 1.5vw;
    width: 70%;
    margin: auto;
    margin-bottom: 24vw;
    height: 32vw;
}

@media (min-width: 1400px) {
    .roche {
        left: 20%;
        right: 20%;
        height: 55vw;
    }

    .roche_bg {
        /* same as roche*/
        height: 65vw;
    }

    .entry-content {
        padding-top: 12vw !important;
        margin-left: 20% !important;
        margin-right: 20% !important;
    }

    .entry-content p:nth-child(2) {
        height: 25vw;
    }
}

@media (max-width: 1000px) {
    .roche_bg {
        display: none;
    }

    .projectPage-title {
        color: black;
    }

    .entry-content p:nth-child(2) {
        color: black;
        font-size: 1rem;
        width: 100%;
        height: auto;
    }

}

